---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def trimstr(s,by):
    if by in s:
        return s[:s.index(by)].strip()
    return s


utowns_raw=pd.read_table('university_towns.txt',header=None)
utowns=pd.DataFrame(columns=['State','RegionName'])
    
current_state=None
current_indx=0
for indx,row in utowns_raw.iterrows():
    curstr=row[0]
    if curstr.endswith('[edit]'):
        current_state=trimstr(curstr,'[')
    else:
        current_town=trimstr(curstr,'(')
        utowns.loc[current_indx]=[current_state,current_town]
        current_indx+=1


def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''   
    
    #return pd.DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ],columns=["State", "RegionName"]  )
    #return utowns[utowns['State']=='Michigan']
    return utowns

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
GDP=(pd.read_excel('gdplev.xls',skiprows=4,header=1,usecols=[4,5,6])
     .dropna()
     .rename(columns={
         'Unnamed: 4':'Quarter',
         'GDP in billions of current dollars.1':'GDP1',
         'GDP in billions of chained 2009 dollars.1':'GDP2'})
     .set_index('Quarter')
     .loc['2000q1':]
    )

def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''    
    
    diffGDP1=GDP.diff(-1)
    for i in range(len(diffGDP1-2)):
        if (diffGDP1.iloc[i]['GDP1']>0) and (diffGDP1.iloc[i+1]['GDP1']>0):
            return diffGDP1.iloc[i].name
    return ''

get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    diffGDP2=GDP.diff(1)
    for i in range(2,len(diffGDP2-2)):
        if (diffGDP2.iloc[i-2]['GDP1']<0) and (diffGDP2.iloc[i-1]['GDP1']<0) \
        and (diffGDP2.iloc[i]['GDP1']>0) and (diffGDP2.iloc[i+1]['GDP1']>0):
            return diffGDP2.iloc[i+1].name
    return ''

get_recession_end()
#diffGDP2.iloc[10:]

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    rstart=get_recession_start()
    rend=get_recession_end()
    #return GDP.loc[rstart:rend]
    return GDP[GDP['GDP1']==np.min(GDP.loc[rstart:rend]['GDP1'])].index[-1]

get_recession_bottom()

'2009q2'

In [7]:
house_raw=pd.read_csv('City_Zhvi_AllHomes.csv').set_index('RegionID')
house_raw['State']=house_raw['State'].map(states)
house_raw=house_raw.sort_values('State').set_index(['State','RegionName'])
#print(list(GDP.index.values))
quarterlst=list(GDP.index.values)
quarterlst.append('2016q3')
start=48
for cq in quarterlst:
    house_raw[cq]=house_raw.iloc[:,start:start+3].mean(axis=1)
    start+=3
house=house_raw.iloc[:,-67:]

def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    ''' 
    return house

convert_housing_data_to_quarters()

                                    2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Mulga                        NaN            NaN            NaN
          Trussville         164400.000000  165900.000000  167600.000000
          Satsuma             88600.000000   90966.666667   90333.333333
          Irvington           72466.666667   74100.000000   75700.000000
          Mount Olive        106500.000000  107333.333333  106966.666667
          Dauphin Island     177700.000000  176466.666667  177133.333333
          Tuscaloosa         104500.000000  106033.333333  108500.000000
          Pleasant Grove     110000.000000  110233.333333  109000.000000
          Edgewater                    NaN            NaN            NaN
          Robertsdale         86833.333333   87666.666667   89000.000000
          Elmore                       NaN            NaN            NaN
          Crane Hill                   NaN            NaN            NaN
          Morris             124066.666667  124500.000000  124233.333333
          Guntersville        92933.333333   93500.000000   93600.000000
          Hope Hull          111666.666667  111800.000000  112966.666667
          Elberta            134700.000000  147033.333333  147166.666667
          Alabaster          122133.333333  123066.666667  123166.666667
          Holly Pond                   NaN            NaN            NaN
          Mount Vernon        49533.333333   52433.333333   51200.000000
          Union Grove         87500.000000   85566.666667   85233.333333
          Hoover             184966.666667  186366.666667  187200.000000
          Center Point        80966.666667   81233.333333   81500.000000
          Seminole           113733.333333  123300.000000  128366.666667
          Chalkville          94100.000000   94433.333333   94433.333333
          Priceville                   NaN            NaN            NaN
          Hazel Green                  NaN            NaN            NaN
          Summerdale          91266.666667   91433.333333   96633.333333
          Calera             108933.333333  110366.666667  108000.000000
          Vance               99900.000000  103100.000000  105366.666667
          Ralph              124166.666667  126766.666667  129233.333333
...                                    ...            ...            ...
Wisconsin Menomonee Falls    157733.333333  154533.333333  152366.666667
          Brookfield         198700.000000  195333.333333  192866.666667
          Oak Creek           96066.666667   99400.000000  104733.333333
          Barton                       NaN            NaN            NaN
          Roxbury            188800.000000  195866.666667  199233.333333
          Cambria             90433.333333   91133.333333   91266.666667
          Geneva              95466.666667   88600.000000   84433.333333
          Sturtevant          79466.666667   77633.333333   78666.666667
          Medina             173066.666667  176233.333333  176166.666667
          Osborn              98333.333333   96200.000000   98666.666667
          Sugar Creek         74166.666667   69100.000000   66066.666667
          Utica              101600.000000  104000.000000  109700.000000
          Rock                98933.333333  100366.666667   99900.000000
          Eaton              110766.666667  114933.333333  121466.666667
          Town of Eagle      169166.666667  167266.666667  165333.333333
          Wales                        NaN            NaN            NaN
          Lisbon             199733.333333  194700.000000  192133.333333
          Holmen                       NaN            NaN            NaN
          Holland            151033.333333  150500.000000  153233.333333
          Lawrence           124066.666667  128233.333333  134466.666667
          Whitelaw            96033.333333  101433.333333  108033.333333
          Town of West Bend  127466.666667  127233.333333  126400.000000
          Dunn               174633.333333  176400.000000  176733.333333
          Bristol            176100.000000  181166.666667  185233.333333
Wyoming   Casper              89233.333333   89600.000000   89733.333333
          Burns              101533.333333  104566.666667  108366.666667
          Pine Bluffs         93733.333333   95066.666667   94633.333333
          Cheyenne           116866.666667  120033.333333  121533.333333
          Evansville         128033.333333  128766.666667  130833.333333
          Bar Nunn            93033.333333   89666.666667   88900.000000

                                    2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Mulga                        NaN            NaN            NaN
          Trussville         169766.666667  172533.333333  173433.333333
          Satsuma             89600.000000   90233.333333   90766.666667
          Irvington           76266.666667   76300.000000   74300.000000
          Mount Olive        107200.000000  108266.666667  108766.666667
          Dauphin Island     177200.000000  178133.333333  181233.333333
          Tuscaloosa         108766.666667  109900.000000  111366.666667
          Pleasant Grove     111166.666667  111466.666667  111266.666667
          Edgewater                    NaN            NaN            NaN
          Robertsdale         91100.000000   94366.666667   95766.666667
          Elmore                       NaN            NaN            NaN
          Crane Hill                   NaN            NaN            NaN
          Morris             125800.000000  125566.666667  124966.666667
          Guntersville        93966.666667   94133.333333   94533.333333
          Hope Hull          114633.333333  115266.666667  112333.333333
          Elberta            145366.666667  145533.333333  142600.000000
          Alabaster          123700.000000  123233.333333  125133.333333
          Holly Pond                   NaN            NaN            NaN
          Mount Vernon        50900.000000   50966.666667   50933.333333
          Union Grove         88400.000000   88766.666667   89833.333333
          Hoover             189200.000000  190766.666667  192300.000000
          Center Point        82233.333333   83366.666667   84333.333333
          Seminole           127633.333333  130433.333333  128766.666667
          Chalkville          94433.333333   96066.666667   97433.333333
          Priceville                   NaN            NaN            NaN
          Hazel Green                  NaN            NaN            NaN
          Summerdale         100000.000000  102766.666667  104633.333333
          Calera             107933.333333  109333.333333  112200.000000
          Vance              106000.000000  108166.666667  110133.333333
          Ralph              131833.333333  133233.333333  133133.333333
...                                    ...            ...            ...
Wisconsin Menomonee Falls    155166.666667  163433.333333  166966.666667
          Brookfield         197000.000000  208466.666667  214633.333333
          Oak Creek          108666.666667  112466.666667  112166.666667
          Barton                       NaN            NaN            NaN
          Roxbury            197300.000000  203433.333333  200100.000000
          Cambria             89766.666667   90100.000000   90366.666667
          Geneva              85900.000000   87466.666667   91066.666667
          Sturtevant          82033.333333   86033.333333   91900.000000
          Medina             180333.333333  184633.333333  188033.333333
          Osborn             103733.333333  110266.666667  117566.666667
          Sugar Creek         65333.333333   67900.000000   71400.000000
          Utica              115100.000000  118166.666667  122200.000000
          Rock               101233.333333  107200.000000  110000.000000
          Eaton              126233.333333  140833.333333  148333.333333
          Town of Eagle      168033.333333  175900.000000  179533.333333
          Wales                        NaN            NaN            NaN
          Lisbon             196700.000000  208400.000000  212866.666667
          Holmen                       NaN            NaN            NaN
          Holland            155833.333333  161866.666667  165733.333333
          Lawrence           137900.000000  154433.333333  165300.000000
          Whitelaw           114000.000000  116333.333333  114966.666667
          Town of West Bend  127100.000000  129333.333333  132300.000000
          Dunn               180833.333333  184466.666667  188100.000000
          Bristol            192333.333333  196566.666667  198566.666667
Wyoming   Casper              93166.666667   95500.000000   97633.333333
          Burns              113000.000000  115833.333333  117200.000000
          Pine Bluffs         98066.666667  103233.333333  104600.000000
          Cheyenne           123633.333333  125533.333333  126300.000000
          Evansville         132066.666667  130566.666667  131433.333333
          Bar Nunn            93500.000000   98833.333333   99900.000000

                                    2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Mulga                        NaN            NaN            NaN
          Trussville         174166.666667  176700.000000  178000.000000
          Satsuma             90633.333333   92200.000000   93000.000000
          Irvington           73500.000000   73833.333333   75966.666667
          Mount Olive        110166.666667  112400.000000  113966.666667
          Dauphin Island     179733.333333  179166.666667  179200.000000
          Tuscaloosa         110000.000000  110700.000000  111900.000000
          Pleasant Grove     111166.666667  111733.333333  112366.666667
          Edgewater                    NaN            NaN            NaN
          Robertsdale         96066.666667   96766.666667   96400.000000
          Elmore                       NaN            NaN            NaN
          Crane Hill                   NaN            NaN            NaN
          Morris             125700.000000  126966.666667  127300.000000
          Guntersville        92600.000000   94666.666667   98133.333333
          Hope Hull          113300.000000  113500.000000  114266.666667
          Elberta            139366.666667  142733.333333  148466.666667
          Alabaster          127766.666667  127200.000000  127300.000000
          Holly Pond                   NaN            NaN            NaN
          Mount Vernon        53666.666667   54566.666667   55266.666667
          Union Grove         86100.000000   88300.000000   91300.000000
          Hoover             192266.666667  192600.000000  193100.000000
          Center Point        84466.666667   85333.333333   86100.000000
          Seminole           124200.000000  125233.333333  128666.666667
          Chalkville          98400.000000   99366.666667   99866.666667
          Priceville                   NaN            NaN            NaN
          Hazel Green                  NaN            NaN            NaN
          Summerdale         100300.000000  100166.666667   99233.333333
          Calera             114333.333333  112133.333333  111500.000000
          Vance              108133.333333  108133.333333  109933.333333
          Ralph              127400.000000  127100.000000  126233.333333
...                                    ...            ...            ...
Wisconsin Menomonee Falls    167933.333333  170366.666667  173833.333333
          Brookfield         219966.666667  226533.333333  229800.000000
          Oak Creek          113600.000000  115466.666667  116533.333333
          Barton                       NaN            NaN            NaN
          Roxbury            203833.333333  204500.000000  210833.333333
          Cambria             92033.333333   93300.000000   94800.000000
          Geneva              94466.666667   94200.000000   94966.666667
          Sturtevant          95033.333333   96166.666667   97866.666667
          Medina             191666.666667  193000.000000  194933.333333
          Osborn             122166.666667  125400.000000  126500.000000
          Sugar Creek         72600.000000   75700.000000   76666.666667
          Utica              125500.000000  129366.666667  126566.666667
          Rock               112100.000000  113133.333333  112933.333333
          Eaton              148000.000000  147566.666667  149500.000000
          Town of Eagle      180800.000000  183900.000000  187133.333333
          Wales                        NaN            NaN            NaN
          Lisbon             215766.666667  214833.333333  218066.666667
          Holmen                       NaN            NaN            NaN
          Holland            168033.333333  167400.000000  165766.666667
          Lawrence           165633.333333  166900.000000  169600.000000
          Whitelaw           115666.666667  115866.666667  117766.666667
          Town of West Bend  134900.000000  135366.666667  134533.333333
          Dunn               192000.000000  192700.000000  197200.000000
          Bristol            198600.000000  199933.333333  202366.666667
Wyoming   Casper              99433.333333  100633.333333  101733.333333
          Burns              117800.000000  117633.333333  117333.333333
          Pine Bluffs        106500.000000  104066.666667  102233.333333
          Cheyenne           126466.666667  128133.333333  128466.666667
          Evansville         132400.000000  133466.666667  133300.000000
          Bar Nunn            99100.000000   98333.333333   98633.333333

                                    2002q2      ...               2014q2  \
State     RegionName                            ...
Alabama   Mulga                        NaN      ...         45466.666667
          Trussville         180800.000000      ...        212033.333333
          Satsuma             93200.000000      ...        125266.666667
          Irvington           79266.666667      ...         90533.333333
          Mount Olive        115000.000000      ...        132066.666667
          Dauphin Island     174600.000000      ...        212000.000000
          Tuscaloosa         111233.333333      ...        137966.666667
          Pleasant Grove     112900.000000      ...        121900.000000
          Edgewater                    NaN      ...         46733.333333
          Robertsdale         97300.000000      ...        123866.666667
          Elmore                       NaN      ...        113966.666667
          Crane Hill                   NaN      ...        212100.000000
          Morris             128066.666667      ...        151600.000000
          Guntersville        99833.333333      ...        133500.000000
          Hope Hull          114200.000000      ...        129066.666667
          Elberta            147833.333333      ...        184633.333333
          Alabaster          128000.000000      ...        147133.333333
          Holly Pond                   NaN      ...         98466.666667
          Mount Vernon        54566.666667      ...         60200.000000
          Union Grove         91500.000000      ...        117666.666667
          Hoover             195900.000000      ...        243333.333333
          Center Point        86500.000000      ...         78833.333333
          Seminole           127033.333333      ...        167166.666667
          Chalkville         100733.333333      ...        105233.333333
          Priceville                   NaN      ...        133566.666667
          Hazel Green                  NaN      ...        124433.333333
          Summerdale          97866.666667      ...        136700.000000
          Calera             111233.333333      ...        125533.333333
          Vance              110700.000000      ...        126633.333333
          Ralph              125533.333333      ...        154833.333333
...                                    ...      ...                  ...
Wisconsin Menomonee Falls    174100.000000      ...        208300.000000
          Brookfield         226400.000000      ...        267066.666667
          Oak Creek          118433.333333      ...        122833.333333
          Barton                       NaN      ...        222566.666667
          Roxbury            215033.333333      ...        242133.333333
          Cambria             97200.000000      ...        114800.000000
          Geneva              96400.000000      ...        168100.000000
          Sturtevant          99833.333333      ...        108866.666667
          Medina             198500.000000      ...        240766.666667
          Osborn             125300.000000      ...        173300.000000
          Sugar Creek         77100.000000      ...        119066.666667
          Utica              124366.666667      ...        164233.333333
          Rock               112466.666667      ...        116433.333333
          Eaton              149233.333333      ...        170800.000000
          Town of Eagle      187133.333333      ...        253066.666667
          Wales                        NaN      ...        262133.333333
          Lisbon             218566.666667      ...        256766.666667
          Holmen                       NaN      ...        143833.333333
          Holland            161966.666667      ...        201266.666667
          Lawrence           169700.000000      ...        203666.666667
          Whitelaw           116800.000000      ...        120433.333333
          Town of West Bend  132966.666667      ...        155333.333333
          Dunn               200066.666667      ...        256600.000000
          Bristol            206666.666667      ...        219266.666667
Wyoming   Casper             101533.333333      ...        175766.666667
          Burns              117233.333333      ...        168866.666667
          Pine Bluffs        103566.666667      ...        148666.666667
          Cheyenne           129633.333333      ...        177466.666667
          Evansville         131066.666667      ...        296733.333333
          Bar Nunn           100866.666667      ...        199233.333333

                                    2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Mulga               43600.000000   42166.666667   41933.333333
          Trussville         210966.666667  214566.666667  216600.000000
          Satsuma            127500.000000  128266.666667  129266.666667
          Irvington           95666.666667   98466.666667   99500.000000
          Mount Olive        132366.666667  132066.666667  135433.333333
          Dauphin Island     216533.333333  220366.666667  218133.333333
          Tuscaloosa         139566.666667  142733.333333  145000.000000
          Pleasant Grove     121233.333333  120600.000000  121966.666667
          Edgewater           44800.000000   43300.000000   42233.333333
          Robertsdale        125366.666667  127233.333333  127900.000000
          Elmore             115133.333333  115400.000000  116333.333333
          Crane Hill         214666.666667  225533.333333  222733.333333
          Morris             152133.333333  154733.333333  156033.333333
          Guntersville       136233.333333  136100.000000  138533.333333
          Hope Hull          130133.333333  132100.000000  137566.666667
          Elberta            180866.666667  181166.666667  182133.333333
          Alabaster          147633.333333  148700.000000  148900.000000
          Holly Pond         100100.000000  103533.333333  104500.000000
          Mount Vernon        58633.333333   56666.666667   55800.000000
          Union Grove        117833.333333  116533.333333  118066.666667
          Hoover             244866.666667  247500.000000  247900.000000
          Center Point        78433.333333   80200.000000   80100.000000

In [8]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    rstart=get_recession_start()
    rend=get_recession_end()
    rbottom=get_recession_bottom()
    
    house_range=house.loc[:,rstart:rend].reset_index()
    
    #state_names=pd.unique(utowns['State'].values)
    #region_names=pd.unique(utowns['RegionName'].values)
    #sr_names=utowns.values
    
    utowns['isTown']=True
    house_range=pd.merge(house_range,utowns,how='left',left_on=['State','RegionName'],right_on=['State','RegionName'])
    house_range['decline']=house_range[rstart]-house_range[rbottom]
    
    #house_range=pd.merge(house,utowns,how='inner',left_index=True,right_on=['State','RegionName'])
    
    house_utown=house_range[house_range['isTown'] == True]['decline']
    house_other=house_range[house_range['isTown'] != True]['decline']
    
    t,p=ttest_ind(house_utown.dropna(),house_other.dropna())    
    different=p<0.01
    
    if house_utown.mean() < house_other.mean(): # lower price decline
        better="university town"
    else:
        better="non-university town"

    return different,p,better

run_ttest()

(True, 0.0043252148535112009, 'university town')